$desktop: 800px;

@mixin desktop {
    @media(min-width: #{$desktop}) {
        @content;
    }
}
@mixin mobile{
    @media(max-width: 800px){
        @content;
    }
}


body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;

    main {
        @include desktop{
            display: flex;
            flex-direction: row;
            column-gap: 1%;
        }


        nav {
            @include desktop {
                flex: 1;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                font-size: 0.9em;
                word-spacing: 25px;
            }

            background-color: aquamarine;
            color: white;

            ul {
                @include mobile(){
                    font-size: 1.8em;
                    word-spacing: 5px;
                }
                list-style: none;
                font-size: 3em;
                word-spacing: 20px;
                text-align: center;
                li {
                    display: inline;
                    padding: 10px;

                    :hover {
                        background-color: blue;
                        border-radius: 10px;
                        cursor: pointer;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

article {
    color: white;
    font-size: 1.3em;

    @include desktop() {
        flex: 3;
    }

}

h1 {
    text-align: center;
    font-size: 2em;
    color: white;
}

footer {
    background-color: navy;
    text-align: center;
    color: white;
    font-size: 1.5em;
    border: 12px;

}